
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}


.login-card {
  display: flex;
  width: 100%;
  max-width: 900px;
  min-height: 550px;
  background-color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}


.login-panel-left {
  flex-basis: 40%;
  background-color: #005691;
  color: #ffffff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-panel-left .panel-header h2 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
}

.login-panel-left .panel-header p {
  font-size: 14px;
  font-weight: 400;
}

.login-panel-left .logo-container .logo {
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.login-panel-left .logo-container .logo-subtitle {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1.5;
  max-width: 220px;
}


.login-panel-right {
  flex-basis: 60%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-panel-right h3 {
  color: #005691;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.login-panel-right .login-form {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-panel-right .input-group {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}

.login-panel-right .input-group .icon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  color: #005691;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.login-panel-right .input-group input {
  width: 100%;
  padding: 18px 18px 18px 55px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  color: #005691;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-panel-right .input-group input::placeholder {
  color: #005691;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.8;
}

.login-panel-right .input-group input:focus {
  outline: none;
  border-color: #005691;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 0 8px rgba(0, 86, 145, 0.2);
}

.login-panel-right .login-button {
  width: 100%;
  max-width: 200px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #005691;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-top: 15px;
}

.login-panel-right .login-button:hover {
  background-color: #004a7c; /* Tom mais escuro no hover */
  box-shadow: 0 5px 15px rgba(0, 86, 145, 0.3);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 920px) {
  .login-card {
    flex-direction: column;
    max-width: 450px;
    min-height: auto;
  }

  .login-panel-left {
    flex-basis: auto;
    height: 300px;
    border-radius: 20px 20px 0 0;
    padding: 40px;
    text-align: center;
    align-items: center;
  }

  .login-panel-left .logo-container .logo-subtitle {
    max-width: 100%;
  }

  .login-panel-right {
    flex-basis: auto;
    padding: 40px;
    border-radius: 0 0 20px 20px;
  }
}
