<p>professor-base works!</p>
<section class="container my-4 da">
  <h2>Bem-vindo ao Polisalas!</h2>
  <p>Escolha uma seção no menu ao lado ou use os cartões abaixo.</p>
</section>

<section class="container mb-4">
  <div class="row g-3">
    <div class="col-md-3">
      <div class="card h-100 text-center">
        <div class="card-body d-flex align-items-center justify-content-center">
          <a routerLink="usuarios" class="stretched-link text-decoration-none">Ver Usuários</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card h-100 text-center">
        <div class="card-body d-flex align-items-center justify-content-center">
          <a routerLink="usuario-registrar" class="stretched-link text-decoration-none">Registrar Usuários</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container mb-4">
  <div class="row g-3">
    <div class="col-md-3">
      <div class="card h-100 text-center">
        <div class="card-body d-flex align-items-center justify-content-center">
          <a routerLink="salas" class="stretched-link text-decoration-none">Ver Salas</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card h-100 text-center">
        <div class="card-body d-flex align-items-center justify-content-center">
          <a routerLink="sala-registrar" class="stretched-link text-decoration-none">
            Registrar Salas
          </a>

        </div>
      </div>
    </div>
  </div>
</section>
